[user]
	name = Casey Watson
	email = cwatson@localmatters.com
[color]
	diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[color "branch"]
	current = yellow
[color "diff"]
	meta = yellow
	frag = blue
	old = red
	new = blue
	#old = blue
	#new = yellow
[color "status"]
	added = yellow
	changed = blue
	untracked = cyan
[core]
	autocrlf = false
	excludesfile = /home/cwatson/.gitignore
[alias]
	diff = diff -w
	wdiff = diff --color-words -w
	cb = !/home/cwatson/bin/create_branch.sh $1
	cd = checkout develop
	db = !/home/cwatson/bin/delete_branch.sh $1
	mb = !/home/cwatson/bin/merge_branch.sh $1
	fullname = !/home/cwatson/bin/fullname.sh $1
	quicklog = log --pretty=format:\"%C(yellow ul)%h%Creset %cr %cn %C(blue)%s%Creset\"
	histgrep = !/home/cwatson/bin/histgrep.sh $1
   s = status -s
   fulllog  = !git show `git rev-list HEAD` $@

[github]
	user = watsoncj
	token = 79d8ee73dc1ab440403ac085b497147b
[push]
	default = current
[http]
	sslverify = false
