[user]
name = Casey Watson
email = watsoncj@gmail.com

[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
pager = true

[color "branch"]
current = yellow
[color "diff"]
meta = yellow
frag = blue
old = red
new = blue
[color "status"]
added = yellow
changed = blue
untracked = cyan

[core]
autocrlf = false
excludesfile = /home/cwatson/.gitignore

[alias]
diff = diff -w
wdiff = diff --color-words -w
cb = !/home/cwatson/bin/create_branch.sh $1
cd = checkout develop
db = !/home/cwatson/bin/delete_branch.sh $1
dc = diff --cached
mb = !/home/cwatson/bin/merge_branch.sh $1
fullname = !/home/cwatson/bin/fullname.sh $1
ql = log --pretty=format:\"%C(yellow ul)%h%Creset %cr %cn %C(blue)%s%Creset\"
histgrep = !/home/cwatson/bin/histgrep.sh $1
s = status -s
fulllog  = !git show `git rev-list HEAD` $@

# View the SHA, description, and history graph of the latest 20 commits
l = log --pretty=oneline -n 20 --graph
# View the current working tree status using the short format
s = status -s
# Show the diff between the latest commit and the current state
d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
# `git di $number` shows the diff between the state `$number` revisions ago and the current state
di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
# Pull in remote changes for the current repository and all its submodules
p = !"git pull; git submodule foreach git pull origin master"
# Clone a repository including all submodules
c = clone --recursive
# Commit all changes
ca = !git add -A && git commit -av
# Switch to a branch, creating it if necessary
go = checkout -B
# Show verbose output about tags, branches or remotes
tags = tag -l
branches = branch -a
remotes = remote -v
# Credit an author on the latest commit
credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"
# Interactive rebase with the given number of latest commits
reb = "!r() { git rebase -i HEAD~$1; }; r"
# Undo a `git push`
undopush = push -f origin HEAD^:master

[push]
default = current

#[http]
#sslverify = false
